<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>Sky Clips</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
  <link rel="stylesheet" media="screen and (max-width: 1319px)" href="css/mobile.css">
  <link rel="stylesheet" media="screen and (min-width: 1320px)" href="css/style.css">
</head>

<body>
  <div class="front_area">
    <!-- header section strats -->
    <div class="front_bg_box">
      <div class="img-box">
        <img src="images/front3.jpg" alt="">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="https://www.google.com/maps/place/Bergen/@60.3651855,5.4291706,96574m/data=!3m1!1e3!4m6!3m5!1s0x46390d4966767d77:0x9e42a03eb4de0a08!8m2!3d60.3912628!4d5.3220544!16zL20vMGZtN3M?entry=ttu" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Bergen/Norway
              </span>
            </a>
            <a href="tel:+4746184335" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +47 46184335
              </span>
            </a>
            <a href="mailto:info.skyclips@gmail.com" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                info.skyclips@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span>
                Sky Clips
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/team"> Our team </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Sky Clips <br>
                      <span>
                        Capturing Magic from Above
                      </span>
                    </h1>
                    <p>
                        Sky Clips is your key to capturing incredible moments from a whole new perspective. Let our skilled drone teams elevate your ideas to heavenly heights.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">Order service</a>
                      <a href="/about" class="btn-2">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                        Sky Clips <br>
                        <span>
                         Capturing Magic from Above
                        </span>
                    </h1>
                    <p>
                        With Sky Clips, you can now explore the world from a bird's-eye view. Our experienced drone pilots and film crews are ready to deliver impressive aerial photo and video productions for you.
                    </p>
                    <div class="btn-box">
                        <a href="" class="btn-1">Order service</a>
                        <a href="/about" class="btn-2">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                        Sky Clips <br>
                        <span>
                         Capturing Magic from Above
                        </span>
                    </h1>
                    <p>
                        Sky Clips takes your projects to new heights, whether it's capturing epic moments at events, showcasing unique perspectives in urban environments, or delivering dynamic aerial videography tailored to your needs.
                    </p>
                    <div class="btn-box">
                        <a href="" class="btn-1">Order service</a>
                        <a href="/about" class="btn-2">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img_container">
            <div class="img-box" style="width: 100%;">
              <img src="images/front4.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              We are a modern drone filming company based in Bergen, Norway. Our team is comprised of enthusiastic 
              drone pilots who are passionate about aerial cinematography. We specialize in using the latest 
              technology to create stunning aerial videos and photos for events, products, marketing materials, 
              and more. Our goal is to provide clients with a unique and memorable aerial perspective.
            </p>
            <div class="btn-box">
              <a href="/about">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- about2 section -->

  <section class="about2_section layout_padding">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              We are a modern drone filming company based in Bergen, Norway. Our team is comprised of enthusiastic 
              drone pilots who are passionate about aerial cinematography. We specialize in using the latest 
              technology to create stunning aerial videos and photos for events, products, marketing materials, 
              and more. Our goal is to provide clients with a unique and memorable aerial perspective.
            </p>
            <div class="btn-box">
              <a href="/about">
                Read More
              </a>
            </div>
          </div>
  </section>

  <!-- end about2 section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          What is says our clients
        </h2>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="images/client.jpg" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Coming Soon
                </h4>
                <p>
                  We're excited to showcase our future clients' feedback. Stay tuned for testimonials from satisfied customers.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="box">
              <div class="img-box">
                <img src="images/client.jpg" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Coming Soon
                </h4>
                <p>
                  We're excited to showcase our future clients' feedback. Stay tuned for testimonials from satisfied customers.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->




<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="contact_bg_box">
    <div class="img-box">
      <img src="images/front1.jpg" alt="">
    </div>
  </div>
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Get In touch</h2>
    </div>
    <div class="">
      <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="contact_form-container">
          <!-- Contact Form -->
          <form id="contactForm" action="/submit" method="post">
            <!-- Full Name -->
            <div>
              <input type="text"  placeholder="Full Name" name="full_name" required />
            <!-- Email -->
            </div>
            <div>
              <input type="email"  placeholder="Email" name="email" required />
            <!-- Phone Number -->
            </div>
            <div>
              <input type="tel"  placeholder="Phone Number" name="phone_number" required />
            <!-- Message -->
            <div>
                <input type="text" placeholder="Message" class="message_input" name="message" />
            </div>
            <!-- Submit Button -->
            <div class="btn-box">
              <button type="/submit">Send</button>
            </div>
          </form>
          <!-- End Contact Form -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->




  <!-- team section -->

  <section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our team
        </h2>
        <p>
          Our team is dedicated to delivering exceptional services to our clients. Currently, 
          I am the sole member actively working on projects, but our talented associates are 
          in the process of development and will soon become an integral part of our dynamic team, 
          poised to bring their expertise and commitment to the table 
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/client.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                To Be Determined
              </h5>
              <h6 class="">
                ...
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/stian.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Stian Byrknes Haveland
              </h5>
              <h6 class="">
                Founder
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto ">
          <div class="box">
            <div class="img-box">
              <img src="images/client.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                To Be Determined
              </h5>
              <h6 class="">
                ...
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/team">
          View All
        </a>
      </div>
    </div>
  </section>

  <!-- end team section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <a class="navbar-brand" href="/">
              <span>
                Sky Clips
              </span>
            </a>
            <p>
              Capturing Magic from Above 
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="https://www.dji.com/no/mavic-mini?site=brandsite&from=insite_search">
                  DJI Mavic Mini
                </a>
              </li>
              <li>
              <a href="https://www.youtube.com/watch?v=h9_KvomCEJ0">
                  Youtube montage
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Contact Us
            </h5>
          </div>
          <div class="info_contact">
            <a href="https://www.google.com/maps/place/Bergen/@60.3524878,5.3685993,28723m/data=!3m1!1e3!4m6!3m5!1s0x46390d4966767d77:0x9e42a03eb4de0a08!8m2!3d60.3912628!4d5.3220544!16zL20vMGZtN3M?entry=ttu" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Bergen/Norway,
              </span>
            </a>
            <a href="tel:+4746184335" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +47 46184335
              </span>
            </a>
            <a href="mailto:info.skyclips@gmail.com" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                info.skyclips@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Our Socials
            </h5>
            </form>
            <div class="social_box">
              <a href="https://www.facebook.com/profile.php?id=61552210820029">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/SkyClipsAS">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.youtube.com/channel/UC4ivr3HJ5BFtCWJzEORRdkg">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/sky.clips.as/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->




  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="currentYear"></span> All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- footer section -->

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/script.js"></script>
</body>

</html>